# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/

# Ambiente virtual
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Dados locais do app
~/.habitos_cli/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
